{
  "extends": [
    "eslint-config-unjs"
  ],
  "rules": {
    "no-undef": 0,
    "unicorn/consistent-destructuring": 0,
    "unicorn/no-await-expression-member": 0,
    "unicorn/prefer-top-level-await": 0
  }
}
