name: autofix.ci # needed to securely identify the workflow

on: { pull_request: {}, push: { branches: ["main"] } }

permissions: { contents: read }

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm run lint:fix
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
        with: { commit-message: "chore: apply automated updates" }
